*{
    list-style-type: none;
    font-family: 'futura', sans-serif;
    color: rgb(190, 90, 90);

}
body{
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    border: 1px dashed honeydew;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li{
    border: 10px solid white;
    display: flex;
    width: 400px;
    justify-content: center;
    cursor: pointer;
}

li:nth-child(2){
    background-color: antiquewhite;
}

li:hover{
    background-color: navajowhite;
}

li:active{
    background-color: navajowhite;
}


span {
    display: flex;
    width: 150px;
    color: antiquewhite;
    font-size: 16px;
    position: absolute;
    right: 200px;
    z-index: 10;

}