*{
    list-style-type: none;
    font-family: 'futura', sans-serif;
    color: rgb(190, 90, 90);

}
body{
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin: 0 auto;
    width: 90%;
    border: 1px dotted lightgray;
}
ul{
    border: 1px dashed honeydew;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li{
    position: relative;
    border: 10px solid white;
    display: flex;
    width: 400px;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

li:nth-child(2){
    background-color: antiquewhite;
}

li:hover{
    background-color: navajowhite;
}

li:active{
    background-color: navajowhite;
}


span {
    display: flex;
    width: auto;
    position: absolute;
    right: -120px;
    top: -8px;
    z-index: 1;
    opacity: 30%;

    color: rosybrown;
    font-size: 20px;

    z-index: 1;


}